@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.container {
    width: 420px;
    background: rgba(0, 0, 0, 0.2);
    border: transparent;
    border-radius: 10px;
    color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px #fff;
}

.container h1 {
    font-size: 36px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 40px 10px 15px;
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: gray;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.login:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: aliceblue;
}

.register {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}
